/* CSS3 Styling Module 2 Homework */

* {
	/* get rid of default padding and margin */
	padding: 0;
	margin: 0;

	/* all sizing is border-box */
	box-sizing: border-box;

	/* all text in arial, times, or sans-serif */
	font-family: arial, "Times New Roman", sans-serif;
}

h1 {
	font-size: 1.75rem;
	font-weight: bold;
	text-align: center;
	padding: 1% 1% 3%;
}

.foodFare {
	position: relative;
    background-color: #C0C0C0;

    /* remmeber that all sections are border box */
    border: 1px solid black;
    padding: 2% 1% 1% 1%;
}

/* inset menu title in each section */
.foodFare > h2 {
	font-size: 1.1rem;
	font-weight: bold;
	text-align: center;
	
	/* location is on the top right corner of its section */
	position: absolute;
    top: 0px;
    right: 0px;

    width: 35%;
    border: 1px solid #000000;
	padding: 3px;
	margin: -1px -1px 2% 0;
}

#chicken {
	background-color: pink;
	color: black;
}

#beef {
	background-color: red;
	color: white;
}

#sushi {
	background-color: tan;
	color: black;
}

.foodFare > p {
	font-size: 1.0rem;
	font-weight: normal;
	text-align: left;

	/* remember that all elements are border-box */
	height: 95%;
	overflow-y: auto;
	padding: 1%;
	margin-top: 3%;
}

@media (min-width: 992px) {

	.foodFare {
		display: inline-block;
		width: 30%;
		height: 325px;
		float: left;
		margin-left: 2%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.foodFare {
		display: inline-block;
		float: left;
		width: 47%;
		margin-left: 2%;
		height: 275px;
	}

	.oddManOut {
    	display: block;
    	clear: left;
    	width: 96%;
    	height: 225px;
		margin: 2%; 
	}

	.oddManOut > h2 {
		width: 18%;
	}
}

@media (max-width: 767px) {

	.foodFare {
		display: block;
		width: 96%;
		height: 225px;
		margin: 2% auto; 
	}
}